QMainWindow:mainwindow
{
border-color:rgb(0,0,0);
border-width:0.5;*/
border-style:solid;
background-color:rgb(255,255,255);
outline-color:rgb(0,0,0);
outline-style:solid;
outline-width:100;
}